.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    padding-right: 10%;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.no-bullets li {
    width: 40%;
    float: Left;
    padding-bottom: 5%;
  }

.title{
  background-color: #accae7;
}