.loginGrid {
    background-color: #1976d2;
}

.loginPaper {
    padding : 6% !important;
    height: 70vh !important;
    width: 20% !important;
    margin: 20px auto !important;
    box-sizing: initial !important;
}

.loginInnerGrid {
    padding-bottom: 20%;
}

.MuiAvatar-colorDefault  {
    background-color:#1bbd7e !important;
}

.btnStyle {
    margin: 8px 0 !important;
}

.txtfld {
    margin-bottom: 15% !important;
}
.loginIcon {
    margin-bottom: 15% !important;
    margin-right: 5% !important;
}

.loginTypo {
    margin-top: 10% !important;
}