.title{
    background-color: #accae7;
    color: white;
    max-width: 100%;
  }

ul.points{
    list-style-type: circle;
}

.topleft {
  width: 40%;
  float: left;
}

.topright {
  width: 60%;
  float: right;
}

p {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}