.signGrid {
    background-color: #1976d2;
}

.signPaper {
    padding : 2%;
    width: 30%;
    margin: 20px auto;
    box-sizing: initial !important;
}

.alert {
    background-color: rgb(253 237 237) !important;
}

.MuiAvatar-colorDefault  {
    background-color:#1bbd7e !important;
}

.btnStyle {
    margin: 8px 0 !important;
}

.signTxtfld {
    margin-bottom: 5% !important;
    margin-right: 5% !important;
}
.signIcon {
    margin-bottom: 5% !important;
    margin-right: 5% !important;
}

.signTypo {
    margin-top: 10% !important;
}